.homepage-projects {
    padding-top: 40px;
}

.all-projects-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -35px;
    margin-right: -35px;
    padding-bottom: 30px;
}

.project-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    transition: 100ms ease-in-out;
    margin-top: 50px;
}

.project-container:hover {
    background-color: #60606009;
}


.project-container:hover .project-link {
    color: #224C93;
}

.project-title {
    color: #27272aba;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 1em;
    padding-top: 15px;
    transition: 150ms ease-in-out;
}

.project-description, .project-stacks {
    color: #27272aba;
    transition: 150ms ease-in-out;
}

.project-container:hover .project-title, .project-container:hover .project-description,
.project-container:hover .project-stacks {
    color: rgb(15, 15, 15);
}

.project-link {
    align-items: center;
    display: flex;
    font-size: 15px;
    padding-top: 20px;
}

.project-container-mobile {
    width: 200px;
    align-self: center;
}

.all-projects-container-mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.swiper-backface-hidden .swiper-slide {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.swiper-button-prev:after, .swiper-button-next:after {
    color: rgba(141, 141, 141, 0.993);
    transform: scale(0.7);
}

@media (max-width: 768px) {
    .all-projects-container {
        display: none;
    }

    .homepage-projects {
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .all-projects-container-mobile {
        display: none;
    }
}

.title-track-projects {
    margin-bottom: 0;
}