.homepage-track {
  margin-top: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.title-track {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.vertical-timeline::before {
  background-color: #27272A;
}

.vertical-timeline {
  padding: 0;
}

.vertical-timeline-element-content {
  padding: 0;
  color: white;
  height: fit-content;
}

/* @media (max-width: 1024px) {
  .vertical-timeline-element-content, .tracker-box {
    height: 200px;
  }
} */

.vertical-timeline-element-date {
  color: #27272A;
  
}

.company {
  color: #5185df;
}

.tecs-track {
  background-color: #ffffff;
  color: #224C93;
  border-radius: 10px;
  width: fit-content;
  padding: 3px 7px;
}

.tracker-box {
  gap: 10px;
  padding: 0;
  background-color: #27272A;
     border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.tracker-box:hover {
  transform: scale(1.1) rotate(2deg);
}

.tracker-info {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-timeline--two-columns .vertical-timeline-element-content {
  padding: 0;
  box-shadow: none;
}

.tecnobox {
  display: flex;
  display: none;
  gap: 5px;
  text-align: left;
  margin-top: 15px;
}