.skills {
    width: 100%;
    padding: 30px;
    margin-top: 50px;
    background-color: #2c2c2c;
    border-radius: 200px;
    display: grid;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  @media (max-width: 1280px) {
    .skills {
        border-radius: 20px;
    }
  }
  
  .skills img,
  .skills i {
    border-radius: 20px;
    font-size: 50px;
    width: 80px;
    cursor: pointer;
    filter: invert(1);
    text-align: center;
    transition: 100ms ease-in-out;
  }
  
  .skills img:hover,
  .skills i:hover {
    transform: scale(1.1);
    color: black;
  }
  